.root {
  padding: calc(var(--yr) * var(--s6)) calc(var(--xr) * 2);

  @media (--s) {
    padding: 0 calc(var(--yr) * calc(var(--s6) * 2));
  }

  @media (--l) {
    padding: 0 calc(var(--yr) * calc(var(--s6) * 4));
  }
}

.search {
  display: flex;
  padding: calc(var(--yr) * 2.5) 0;

  @media (--s) {
    padding: calc(var(--yr) * 10) 0;
  }

  & input {
    color: rgb(var(--wht_color));
    font-size: calc(var(--yr) * 6);
    line-height: calc(var(--yr) * 7);
    border: none;
    background: none;
    padding: calc(var(--yr) * 2) 0;
    flex-grow: 1;
    padding-right: calc(var(--yr) * 3);

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: rgba(var(--wht_color), 0.3);
      opacity: 1;
    }

    @media (--s) {
      font-size: calc(var(--yr) * 8);
      line-height: calc(var(--yr) * 9);
    }
  }

  & .submit {
    display: flex;
    align-items: center;

    & svg {
      display: block;
    }
  }
}

.menu {
  margin: 0;
  padding: 0;
}

.item {
  display: block;
  color: rgb(var(--wht_color));
  position: relative;
  cursor: pointer;
  text-transform: none;
  margin-top: calc(var(--yr) * calc(var(--s3) * 2));
  padding-bottom: calc(var(--yr) * 6);
  border-bottom: 1px solid rgba(var(--wht_color), 0.2);
  transition: 0.3s ease-out;

  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(var(--wht_color));
    height: 1px;
    width: 0;
    transition: 0.3s ease-out;
  }

  &:hover {
    /* border-bottom-color: var(--wht_color); */
    padding-left: calc(var(--yr) * 3);

    &::after {
      width: 100%;
    }
  }
}

.title {
  composes: h2 from "../Fonts.module.css";
}

.desc {
  /* composes: at from "../Fonts.module.css"; */
  font-family: var(--ff_serif);
  color: #57150a;
  margin-top: calc(var(--yr) * var(--s2));
}

.li,
.menu,
.a {
  text-decoration: none;
  display: block;
}
