@import 'normalize.css';
@import './variables.css';
@import './po_deba.css';

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff_serif);
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 6);

  @media (--s) {
    font-size: calc(var(--yr) * 5.5);
    line-height: calc(var(--yr) * 7);
  }

  @media (--l) {
    font-size: calc(var(--yr) * 5.5 * var(--fs_mod));
    line-height: calc(var(--yr) * 7 * var(--fs_mod));
  }
}

figure {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  hyphens: auto;

  &:not(:last-child) {
    margin: 0 0 calc(var(--yr) * var(--s4));
  }
}

/* h1 {
  font-family: var(--ff_serif);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin: 0 0 calc(var(--yr) * var(--s3));
  font-size: calc(var(--yr) * 6);
  line-height: calc(var(--yr) * 7);

  @media (--s) {
    font-size: calc(var(--yr) * 12);
    line-height: calc(var(--yr) * 14);
  }
}

h2 {
  font-family: var(--ff_sans_header);
  font-weight: normal;
  margin: 0 0 calc(var(--yr) * var(--s3));
  font-size: calc(var(--yr) * 6);
  line-height: calc(var(--yr) * 7);

  @media (--s) {
    font-size: calc(var(--yr) * 10);
    line-height: calc(var(--yr) * 11);
  }

  @media (--l) {
    font-size: calc(var(--yr) * 10 * var(--fs_mod));
    line-height: calc(var(--yr) * 11 * var(--fs_mod));
  }
}

p {
  margin: 0 0 calc(var(--yr) * var(--s3));
  hyphens: auto;

  &:last-child {
    margin-bottom: 0;
  }
} */
