.root {
  @media (--l) {
    display: flex;
  }
}

.img {
  composes: ari from '../../../../Images.module.css';

  &.main {
    padding-top: calc(1143 / 1013 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
