.root {
  @media (--l) {
    display: flex;
  }
}

.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1587 / 1013 * 100%);
  }

  &._1 {
    padding-top: calc(669 / 952 * 100%);
  }

  &._2 {
    padding-top: calc(1259 / 1596 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}
