.img {
  composes: ari from '../../../../Images.module.css';

  &.intro {
    padding-top: calc(1027 / 2028 * 100%);
  }

  &.main {
    padding-top: calc(1318 / 942 * 100%);
  }

  &._1 {
    padding-top: calc(734 / 1014 * 100%);
  }

  &._2 {
    padding-top: calc(733 / 1014 * 100%);
  }
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}
