.img {
  composes: ari from "../../../../Images.module.css";

  &.intro {
    padding-top: calc(1587 / 5150 * 100%);
  }

  &._1 {
    padding-top: calc(720 / 1013 * 100%);
  }

  &._2 {
    padding-top: calc(720 / 1013 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
