.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1098 / 1953 * 100%);
  }

  &._1 {
    padding-top: calc(1131 / 1657 * 100%);
  }

  &._2 {
    padding-top: calc(1613 / 1026 * 100%);
  }

  &._3 {
    padding-top: calc(1462 / 1056 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
