.root {
  display: grid;
  margin-bottom: var(--sb);
  grid-gap: calc(var(--yr) * var(--s4));
  align-items: start;

  @media (--s) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw;

    &.middle {
      padding: 0 calc(1 / 13 * 100%);
    }
  }
}
