.root {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.1s;
  visibility: hidden;
}

.start {
  visibility: visible;
  opacity: 0.9;
}

.end {
  transition: opacity 0.2s, visibility 0s 0.4s;
  visibility: hidden;
  opacity: 0;
}
