.root {
  display: grid;
  margin-bottom: var(--sb);
  grid-template-columns: 1fr 1fr;
  grid-gap: 4vw;

  @media (--s) {
    padding: 0 calc(1 / 13 * 100%);
    font-size: 1.8vw;
    line-height: 3vw;
  }

  @media (--l) {
    padding: 0 calc(2 / 13 * 100%);
    font-size: 1.3vw;
    line-height: 2.4vw;
  }
}
