.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(2073 / 1500 * 100%);
  }

  &._1 {
    padding-top: calc(942 / 1150 * 100%);
  }

  &._2 {
    padding-top: calc(828 / 1013 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
