.root {
  margin-bottom: var(--sb);

  @media (--s) {
    &.content {
      padding: 0 calc(2 / 13 * 100%);
    }
  }

  @media (--s) {
    &.content {
      padding: 0 calc(3 / 13 * 100%);
    }
  }
}
