.img {
  height: 100%;
  composes: ari from "../../../../Images.module.css";
  margin-top: calc(var(--yr) * var(--s4));

  &.main {
    padding-top: calc(2018 / 1368 * 100%);
  }

  &._1 {
    padding-top: calc(946 / 1014 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}
