.img {
  composes: ari from "../../../../Images.module.css";

  &.intro {
    padding-top: calc(739 / 980 * 100%);
  }

  &._1 {
    padding-top: calc(790 / 1091 * 100%);
  }

  &._2 {
    padding-top: calc(710 / 980 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
