.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(980 / 1420 * 100%);
  }

  &._1 {
    padding-top: calc(1823 / 2787 * 100%);
  }

  &._2 {
    padding-top: calc(1063 / 1419 * 100%);
  }

  &._3 {
    padding-top: calc(980 / 1420 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
