.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(771 / 1014 * 100%);
  }

  &._1 {
    padding-top: calc(1084 / 1597 * 100%);
  }

  &._2 {
    padding-top: calc(770 / 1014 * 100%);
  }

  &._4 {
    padding-top: calc(770 / 1014 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
