.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1901 / 1421 * 100%);
  }

  &._1 {
    padding-top: calc(945 / 2034 * 100%);
  }

  &._2 {
    padding-top: calc(1028 / 1419 * 100%);
  }

  &._3 {
    padding-top: calc(945 / 2092 * 100%);
  }

  &._4 {
    padding-top: calc(945 / 1731 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
