.img {
  composes: ari from '../../../../Images.module.css';

  &.main {
    padding-top: calc(1004 / 2965 * 100%);
  }

  &._1 {
    padding-top: calc(1200 / 2028 * 100%);
  }

  &._2 {
    padding-top: calc(1200 / 2028 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
