.root {
  display: grid;

  @media (--l) {
    grid-template-columns: repeat(7, 1fr);
  }
}

.img {
  /* height: 100%; */
  composes: ari from "../../../../components/Images.module.css";

  &.main {
    padding-top: calc(1014 / 841 * 100%);
    /* width: 100%; */
  }

  &._1 {
    padding-top: calc(829 / 1368 * 100%);
  }

  &._2 {
    padding-top: calc(1296 / 1014 * 100%);
  }

  &._3 {
    padding-top: calc(2250 / 1468 * 100%);
  }
}

.page {
  padding: 0 var(--xr);
  margin-bottom: calc(var(--yr) * var(--s4));

  &:last-child {
    margin-bottom: 0;
  }

  @media (--s) {
    padding: 0 calc(1 / 11 * 100%);
  }

  @media (--l) {
    padding: calc(10vh * var(--fs_mod)) calc(2 / 11 * 100%) 0 calc(1 / 11 * 100%);
    height: 100vh;
    margin-bottom: 0;
  }
}

.fpi {
  @media (--l) {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0 calc(1 / 11 * 100%);
  }
}

.vrezka {
  composes: vrezka from '../../../../components/Fonts.module.css';
}
