.img {
  composes: ari from '../../../../Images.module.css';

  &.main {
    padding-top: calc(1180 / 1420 * 100%);
  }

  &._1 {
    padding-top: calc(840 / 1015 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
