.root {
  @media (--l) {
    display: flex;
  }
}

.img {
  /* height: 100%; */
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1014 / 841 * 100%);

    /* width: 100%; */
  }

  &._1 {
    padding-top: calc(829 / 1368 * 100%);
  }

  &._2 {
    padding-top: calc(1296 / 1014 * 100%);
  }

  &._3 {
    padding-top: calc(2250 / 1468 * 100%);
  }
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.fpi {
  align-self: center;
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
