.root {
  @media (--l) {
    display: flex;
  }
}

.img {
  composes: ari from '../../../../Images.module.css';

  &.main {
    padding-top: calc(1376 / 1013 * 100%);
  }

  &._1 {
    padding-top: calc(1470 / 2027 * 100%);
  }

  &._2 {
    padding-top: calc(1063 / 2028 * 100%);
  }

  &._3 {
    padding-top: calc(1960 / 1420 * 100%);
  }
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.fpi {
  align-self: center;
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
