.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1200 / 1879 * 100%);
  }

  &._1 {
    padding-top: calc(1200 / 1013 * 100%);
  }

  &._2 {
    padding-top: calc(304 / 532 * 100%);
  }

  &._3 {
    padding-top: calc(363 / 532 * 100%);
  }

  &._4 {
    padding-top: calc(655 / 476 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}

.bio {
  composes: bio from "../../../../Factory/Factory.module.css";
}
