.mt {
  font-size: calc(var(--yr) * 2.5);
  line-height: calc(var(--yr) * 3);

  @media (--s) {
    font-size: calc(var(--yr) * 3);
    line-height: calc(var(--yr) * 5);
  }
}

.at {
  font-size: calc(var(--yr) * 2.5);
  line-height: calc(var(--yr) * 3);

  @media (--s) {
    font-size: calc(var(--yr) * 3.5);
    line-height: calc(var(--yr) * 6);
  }
}

.bt {
  @media (--s) {
    font-size: calc(var(--yr) * 5);
    line-height: calc(var(--yr) * 7);
  }

  @media (--l) {
    font-size: calc(var(--yr) * 5 * var(--fs_mod));
    line-height: calc(var(--yr) * 7 * var(--fs_mod));
  }
}

.vrezka {
  font-family: var(--ff_sans);
  composes: bt;
  font-size: calc(var(--yr) * 5.5);
  line-height: calc(var(--yr) * 6);
  color: rgb(var(--hl_color));

  @media (--s) {
    font-size: calc(var(--yr) * 8);
    line-height: calc(var(--yr) * 9);
  }

  /* @media (--l) {
    font-size: calc(var(--yr) * 6 * var(--fs_mod));
    line-height: calc(var(--yr) * 7 * var(--fs_mod));
  } */
}

.h1 {
  font-family: var(--ff_serif);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin: 0 0 calc(var(--yr) * var(--s3));
  font-size: calc(var(--yr) * 6);
  line-height: calc(var(--yr) * 7);

  @media (--s) {
    font-size: calc(var(--yr) * 12);
    line-height: calc(var(--yr) * 14);
  }
}

/* .h1sans {
  font-family: var(--ff_sans_header);
  font-weight: normal;
  font-size: calc(var(--yr) * 10);
  line-height: calc(var(--yr) * 11);

  @media (--s) {
    font-size: calc(var(--yr) * 15);
    line-height: calc(var(--yr) * 16);
  }

  @media (--l) {
    font-size: calc(var(--yr) * 15 * var(--fs_mod));
    line-height: calc(var(--yr) * 16 * var(--fs_mod));
  }
} */

.h2 {
  font-family: var(--ff_sans);
  font-weight: normal;
  margin: 0 0 calc(var(--yr) * var(--s3));
  font-size: calc(var(--yr) * 6);
  line-height: calc(var(--yr) * 7);

  @media (--s) {
    font-size: 3.6vw;
    line-height: 5vw;
  }
}

.h3 {
  font-family: var(--ff_sans);
  font-weight: normal;
  margin: 0 0 calc(var(--yr) * var(--s2));
  font-size: calc(var(--yr) * 4.5);
  line-height: calc(var(--yr) * 5.5);

  @media (--s) {
    font-size: calc(var(--yr) * 6);
    line-height: calc(var(--yr) * 7);
  }
}

.p {
  margin: 0 0 calc(var(--yr) * var(--s3));
  hyphens: auto;

  &:last-child {
    margin-bottom: 0;
  }
}
