.root {
  --duration: 1000ms;
  --delay: 150ms;
  --t-func: cubic-bezier(0.16, 0.77, 0.14, 1.01);

  margin: calc(var(--yr) * var(--s5) * 2) 0;

  /* @media (--s) {
    padding: 0;
    margin: 0 0 calc(var(--yr) * var(--s5) * 2);
  } */
}

.header {
  padding: 0 var(--xr);

  @media (--s) {
    padding: 0 calc(2 / 13 * 100%);
  }

  @media (--l) {
    padding: 0 calc(3 / 13 * 100%);
  }
}

.page {
  composes: page from './Factory/Factory.module.css';
}

@keyframes fadeInUp {
  from {
    /* opacity: 0; */
    transform: translateY(10vh);
  }

  to {
    /* opacity: 1; */
    transform: translateY(0);
  }
}

@keyframes h0 {
  from {
    height: 100%;
  }

  to {
    height: 0;
  }
}

.title {
  composes: h1 from "./Fonts.module.css";
  animation: fadeInUp var(--duration) var(--t-func) both;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(var(--wht_color), 1);
    animation: h0 var(--duration) var(--t-func) both;
  }
}

.desc {
  margin-top: calc(var(--yr) * var(--s2) * -1);
  color: #6a6a6a;
  animation: fadeInUp var(--duration) var(--t-func) var(--delay) both;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(var(--wht_color), 1);
    animation: h0 var(--duration) var(--t-func) var(--delay) both;
  }
}

.items {
  margin-top: calc(var(--yr) * var(--s6));
  display: grid;
  padding: 0 var(--xr);
  grid-row-gap: calc(var(--yr) * var(--s4));
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(var(--xr));

  @media (--s) {
    grid-column-gap: calc(var(--xr) * 2);
    padding: 0 calc(2 / 13 * 100%);
  }

  @media (--l) {
    padding: 0 calc(3 / 13 * 100%);
  }
}

.item {
  font-family: var(--ff_sans);
  animation: fadeInUp var(--duration) var(--t-func) calc(var(--delay) * 2) both;
  position: relative;
  font-size: calc(var(--yr) * 3.5);
  line-height: calc(var(--yr) * 5);

  &.s {
    grid-column: 1 / -1;
  }

  @media (--s) {
    font-size: calc(var(--yr) * 4);
    line-height: calc(var(--yr) * 6);
  }

  @media (--l) {
    font-size: calc(var(--yr) * 4 * var(--fs_mod));
    line-height: calc(var(--yr) * 6 * var(--fs_mod));
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(var(--wht_color), 1);
    animation: h0 var(--duration) var(--t-func) calc(var(--delay) * 2) both;
  }

  &:nth-child(2) {
    animation-delay: calc(var(--delay) * 3);

    &::after {
      animation-delay: calc(var(--delay) * 3);
    }
  }

  &:nth-child(3) {
    animation-delay: calc(var(--delay) * 4);

    &::after {
      animation-delay: calc(var(--delay) * 4);
    }
  }

  &:nth-child(4) {
    animation-delay: calc(var(--delay) * 5);

    &::after {
      animation-delay: calc(var(--delay) * 5);
    }
  }

  &:nth-child(5) {
    animation-delay: calc(var(--delay) * 6);

    &::after {
      animation-delay: calc(var(--delay) * 6);
    }
  }
}

.digit {
  font-weight: 400;
  font-size: calc(var(--yr) * 12);
  line-height: calc(var(--yr) * 12);
  color: rgb(var(--hl_color));
  text-transform: uppercase;

  @media (--s) {
    font-size: calc(var(--yr) * 18);
    line-height: calc(var(--yr) * 18);
  }

  @media (--l) {
    font-size: calc(var(--yr) * 18 * var(--fs_mod));
    line-height: calc(var(--yr) * 18 * var(--fs_mod));
  }
}

.rd {
  composes: bt from './Fonts.module.css';
  margin: calc(var(--yr) * var(--s2)) 0 0;
  color: rgb(var(--hl_color));
  text-transform: uppercase;
}

.what {
  margin: calc(var(--yr) * var(--s1)) 0 0;
  text-transform: uppercase;
  font-weight: 300;
  max-width: 600px;
}
