.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1668 / 2027 * 100%);
  }

  &._1 {
    padding-top: calc(1763 / 1014 * 100%);
  }

  &._2 {
    padding-top: calc(1260 / 2028 * 100%);
  }

  &._3 {
    padding-top: calc(1377 / 2028 * 100%);
  }

  &._4 {
    padding-top: calc(1004 / 2254 * 100%);
  }

  &._5 {
    padding-top: calc(1020 / 1844 * 100%);
  }

  &._6 {
    padding-top: calc(2019 / 1596 * 100%);
  }

  &._7 {
    padding-top: calc(1004 / 1760 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
