.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1365 / 2074 * 100%);
  }

  &._1 {
    padding-top: calc(1539 / 2075 * 100%);
  }

  &._2 {
    padding-top: calc(788 / 1061 * 100%);
  }

  &._3 {
    padding-top: calc(1540 / 1061 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
