.img {
  height: 100%;
  composes: ari from "../../../../Images.module.css";
  margin-top: calc(var(--yr) * var(--s4));

  &.main {
    padding-top: calc(1296 / 2027 * 100%);
  }

  &._1 {
    padding-top: calc(1237 / 2028 * 100%);
  }

  &._2 {
    padding-top: calc(1062 / 1596 * 100%);
  }

  &._3 {
    padding-top: calc(1062 / 1014 * 100%);
  }
}

.root {
  @media (--l) {
    display: flex;
  }
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.fpi {
  align-self: center;
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
