.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(2180 / 1467 * 100%);
  }

  &._1 {
    padding-top: calc(722 / 1062 * 100%);
  }

  &._2 {
    padding-top: calc(723 / 1062 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
