.root {
  @media (--l) {
    display: flex;
  }
}

.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(771 / 1016 * 100%);
  }

  &._1 {
    padding-top: calc(1316 / 2028 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.fpi {
  align-items: center;
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
