.img {
  composes: ari from "../../../../Images.module.css";

  &.intro {
    padding-top: calc(838 / 1154 * 100%);
  }

  &.main {
    padding-top: calc(1424 / 1076 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
