.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1344 / 1022 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
