.root {
  overflow: hidden;

  @media (--s) {
    /* margin-left: 60px; */
  }
}

.factory {
  padding-top: calc(var(--yr) * var(--s6));

  @media (--l) {
    height: 100vh;
    padding-top: 0;
    display: flex;
  }
}

.page {
  @media (--s) {
    padding: 0 calc(1 / 8 * 100%);
  }

  @media (--l) {
    position: relative;
    display: grid;
    align-items: start;
    grid-auto-rows: min-content;
    padding: 100px 0 0;
    min-width: calc(5 / 13 * (100vw - 60px));
    margin-left: calc(1 / 13 * (100vw - 60px));

    &:last-child {
      margin-right: calc(1 / 13 * (100vw - 60px));
    }
  }
}

.back {
  position: absolute;
  top: calc(var(--yr) * 10);
  left: var(--xr);
  right: var(--xr);
  display: flex;
  z-index: 99;

  & svg {
    display: block;
    margin-right: calc(var(--xr) * 2);
  }
}

.backText {
  font-family: var(--ff_sans);
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 5);
  white-space: nowrap;
  display: block;
  transform: translateY(0.075em);
}

.rd {
  /* display: block; */
  color: rgb(var(--hl_color));
}
