.root {
  overflow: hidden;

  @media (--s) {
    /* margin-left: 60px; */
  }
}

.factory {
  padding-top: calc(var(--yr) * var(--s6));

  @media (--l) {
    height: 100vh;
    padding-top: 0;
    display: flex;
  }
}

.page {
  @media (--s) {
    padding: 0 calc(1 / 8 * 100%);
  }

  @media (--l) {
    display: grid;
    align-items: start;
    grid-auto-rows: min-content;
    padding: 100px 0 0;
    min-width: calc(5 / 13 * (100vw - 60px));
    margin-left: calc(1 / 13 * (100vw - 60px));

    &:last-child {
      margin-right: calc(1 / 13 * (100vw - 60px));
    }
  }
}
