.header {
  padding: calc(var(--yr) * 2) 0;
  display: flex;

  @media (--s) {
    margin-top: 32px;
  }
}

.backText {
  font-family: var(--ff_sans);
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 5);
  white-space: nowrap;
  display: block;
  transform: translateY(0.075em);
}

.rd {
  /* display: block; */
  color: rgb(var(--hl_color));
}

.page {
  /* max-width: 1600px; */
  margin: 0 auto;
}

.name {
  font-family: var(--ff_sans);
  text-transform: uppercase;
  line-height: calc(var(--yr) * 10);
  margin: auto;
}

.back {
  position: fixed;
  left: 8px;
  top: 8px;
  width: 40px;
  height: 40px;
  z-index: 99;

  & svg {
    display: block;
  }

  @media (--s) {
    margin-left: -8px;
    top: 40px;
    left: calc(1 / 13 * 100%);
  }
}

.menu {
  position: fixed;
  right: 6px;
  top: 8px;
  width: 40px;
  height: 40px;
  z-index: 99;

  & svg {
    display: block;
  }

  @media (--s) {
    top: 40px;
    margin-right: -10px;
    right: calc(1 / 13 * 100%);
  }
}
