.img {
  height: 100%;
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(660 / 1013 * 100%);
  }

  &._1 {
    padding-top: calc(654 / 1013 * 100%);
  }

  &._2 {
    padding-top: calc(1121 / 2032 * 100%);
  }
}

.root {
  @media (--l) {
    display: flex;
  }
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.fpi {
  align-self: center;
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
