.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(779 / 1038 * 100%);
  }

  &._1 {
    padding-top: calc(798 / 1059 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
