.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1260 / 1014 * 100%);
  }

  &._1 {
    padding-top: calc(1261 / 2028 * 100%);
  }

  &._2 {
    padding-top: calc(1260 / 1014 * 100%);
  }

  &._3 {
    padding-top: calc(1202 / 2027 * 100%);
  }

  &._4 {
    padding-top: calc(1763 / 1420 * 100%);
  }

  &._5 {
    padding-top: calc(887 / 1014 * 100%);
  }

  &._6 {
    padding-top: calc(1259 / 2028 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
