.intro {
  background: #ddd;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg,
.star,
.text {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text {
  z-index: 3;
}

.bgin {
  background: url(../assets/index/images/Bg.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  width: 110%;
  height: 110%;
  left: -5%;
  right: -5%;
  top: -5%;
  bottom: -5%;
}

.star {
  background: url(../assets/index/images/Star.png) no-repeat center 40%;
  z-index: 2;
  background-size: 50vh;
}

.name {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--ff_sans);
  text-transform: uppercase;
  font-size: calc(var(--yr) * 15);
  line-height: calc(var(--yr) * 15);
  text-align: center;

  & span {
    color: rgb(var(--hl_color));
  }

  @media (--s) {
    bottom: 20%;
    font-size: calc(var(--yr) * 25);
    line-height: calc(var(--yr) * 25);
    white-space: nowrap;
  }
}

.image {
  background-color: #555;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: calc(2 / 3 * 100%);
  margin-bottom: calc(var(--yr) * var(--s3));

  /* Боевые машины */

  &.gaz {
    background-image: url(../assets/index/images/factories/gaz.jpg);
  }

  &.sormovo {
    background-image: url(../assets/index/images/factories/sormovo.jpg);
  }

  &.etna {
    background-image: url(../assets/index/images/factories/etna.jpg);
  }

  &.ruspolimet {
    background-image: url(../assets/index/images/factories/ruspolimet.jpg);
  }

  &.drobmash {
    background-image: url(../assets/index/images/factories/drobmash.jpg);
  }

  &.gzhd {
    background-image: url(../assets/index/images/factories/gzhd.jpg);
  }

  &.vmz {
    background-image: url(../assets/index/images/factories/vmz.jpg);
  }

  /* Авиа */

  &.sokol {
    background-image: url(../assets/index/images/factories/sokol.jpg);
  }

  &.gidroagregat {
    background-image: url(../assets/index/images/factories/gidroagregat.jpg);
  }

  &.gidromash {
    background-image: url(../assets/index/images/factories/gidromash.jpg);
  }

  &.adcbsz {
    background-image: url(../assets/index/images/factories/adcbsz.jpg);
  }

  &.dzorg {
    background-image: url(../assets/index/images/factories/dzorg.jpg);
  }

  &.teploobmennik {
    background-image: url(../assets/index/images/factories/teploobmennik.jpg);
  }

  /* Артиллерия */

  &.nmz {
    background-image: url(../assets/index/images/factories/nmz.jpg);
  }

  &.rumo {
    background-image: url(../assets/index/images/factories/rumo.jpg);
  }

  &.paz {
    background-image: url(../assets/index/images/factories/paz.jpg);
  }

  &.zfs {
    background-image: url(../assets/index/images/factories/zfs.jpg);
  }

  /* Боеприпасы */

  &.sverdlov {
    background-image: url(../assets/index/images/factories/sverdlov.jpg);
  }

  /* Судостроение */

  &.sormovo_sudo {
    background-image: url(../assets/index/images/factories/sormovo_sudo.jpg);
  }

  /* Приборостроение */

  &.nitel {
    background-image: url(../assets/index/images/factories/nitel.jpg);
  }

  &.frunze {
    background-image: url(../assets/index/images/factories/frunze.jpg);
  }

  &.petrovsky {
    background-image: url(../assets/index/images/factories/petrovsky.jpg);
  }

  /* @media (--s) {
    padding-top: calc(1 / 1 * 100%);

    &.i54 {
      padding-top: calc(4 / 5 * 100%);
    }

    &.i32 {
      padding-top: calc(2 / 3 * 100%);
    }
  } */
}

.title {
  margin-bottom: calc(var(--yr) * var(--s1));
  font-family: var(--ff_sans);
  color: rgb(var(--hl_color));
  text-transform: uppercase;
}

.desc {
  composes: bt from '../components/Fonts.module.css';
}

.factories {
  padding-top: calc(var(--yr) * 10);
}

.items {
  padding: 0 0 calc(var(--yr) * 10);
  display: grid;
  grid-gap: 8vh calc(1 / 13 * 100%);

  & a {
    display: block;
  }

  @media (--s) {
    padding: calc(var(--yr) * 10) calc(1 / 13 * 100%);
    grid-template-columns: 1fr 1fr;
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.section {
  position: relative;
}

.ss {
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.6);
  font-family: var(--ff_sans);
  text-transform: uppercase;
  color: rgb(var(--hl_color));
  font-size: calc(var(--yr) * 8);
  line-height: calc(var(--yr) * 8);
  text-align: center;
  padding: calc(var(--yr) * 6);
  display: flex;
  backdrop-filter: blur(8px);

  & span {
    display: block;
    margin: auto;
  }

  @media (--s) {
    padding: calc(var(--yr) * 6) calc(1 / 13 * 100%);

    &::after {
      content: '';
      display: block;
      border-bottom: 2px solid rgb(var(--hl_color));
      position: absolute;
      top: 50%;
      right: calc(1 / 13 * 100%);
      left: calc(10 / 13 * 100%);
    }

    &::before {
      content: '';
      display: block;
      border-bottom: 2px solid rgb(var(--hl_color));
      position: absolute;
      top: 50%;
      left: calc(1 / 13 * 100%);
      right: calc(10 / 13 * 100%);
    }
  }

  @media (--m) {
    &::after {
      right: calc(1 / 13 * 100%);
      left: calc(9 / 13 * 100%);
    }

    &::before {
      left: calc(1 / 13 * 100%);
      right: calc(9 / 13 * 100%);
    }
  }
}

.dt {
  padding: 0 calc(var(--xr) * 1);
}
