.root {
  background: #ddd;
  position: relative;
}

.intro {
  position: relative;
  height: 100vh;
  width: 100%;
}

.bg,
.star,
.text {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text {
  z-index: 3;
}

.bgin {
  background: url(../assets/index/images/Bg.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  width: 110%;
  height: 110%;
  left: -5%;
  right: -5%;
  top: -5%;
  bottom: -5%;
}

.star {
  background: url(../assets/index/images/Star.png) no-repeat center 40%;
  z-index: 2;
  background-size: 50vh;
}

.name {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--ff_sans);
  font-size: calc(var(--yr) * 15);
  line-height: calc(var(--yr) * 15);
  text-align: center;

  & span {
    color: rgb(var(--hl_color));
  }

  @media (--s) {
    bottom: 20%;
    font-size: calc(var(--yr) * 25);
    line-height: calc(var(--yr) * 25);
    white-space: nowrap;
  }
}

.g {
  @media (--s) {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

.item {
  overflow: hidden;
  display: block;
  margin-bottom: calc(var(--yr) * var(--s5) * 2);

  & a {
    display: block;
    user-select: none;
  }

  @media (--s) {
    width: calc(7 / 13 * 100vw);
    margin-bottom: 0;
    height: 35vh;
    align-items: center;

    &:nth-child(2n) {
      margin-top: auto;
      padding-right: calc(1 / 7 * 100%);

      /* align-items: start; */

      /* background: red; */
    }

    &:nth-child(2n + 1) {
      margin-bottom: auto;
      padding-left: calc(1 / 7 * 100%);

      /* align-items: end; */

      /* background: blue; */
    }

    display: grid;
    grid-template-columns: 1fr 1fr;

    &.sormovo {
      /* grid-template-columns: 60% auto; */
    }
  }
}

.dt {
  @media (--s) {
    padding: calc(var(--yr) * 5) calc(var(--xr) * 2);
  }
}

.image {
  background-color: #555;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: calc(2 / 3 * 100%);

  /* Боевые машины */

  &.gaz {
    background-image: url(../assets/index/images/factories/gaz.jpg);
  }

  &.sormovo {
    background-image: url(../assets/index/images/factories/sormovo.jpg);
  }

  &.etna {
    background-image: url(../assets/index/images/factories/etna.jpg);
  }

  &.ruspolimet {
    background-image: url(../assets/index/images/factories/ruspolimet.jpg);
  }

  &.drobmash {
    background-image: url(../assets/index/images/factories/drobmash.jpg);
  }

  &.gzhd {
    background-image: url(../assets/index/images/factories/gzhd.jpg);
  }

  &.vmz {
    background-image: url(../assets/index/images/factories/vmz.jpg);
  }

  /* Авиа */

  &.sokol {
    background-image: url(../assets/index/images/factories/sokol.jpg);
  }

  &.gidroagregat {
    background-image: url(../assets/index/images/factories/gidroagregat.jpg);
  }

  &.gidromash {
    background-image: url(../assets/index/images/factories/gidromash.jpg);
  }

  &.adcbsz {
    background-image: url(../assets/index/images/factories/adcbsz.jpg);
  }

  &.dzorg {
    background-image: url(../assets/index/images/factories/dzorg.jpg);
  }

  &.teploobmennik {
    background-image: url(../assets/index/images/factories/teploobmennik.jpg);
  }

  /* Артиллерия */

  &.nmz {
    background-image: url(../assets/index/images/factories/nmz.jpg);
  }

  &.rumo {
    background-image: url(../assets/index/images/factories/rumo.jpg);
  }

  @media (--s) {
    padding-top: calc(1 / 1 * 100%);

    &.i54 {
      padding-top: calc(4 / 5 * 100%);
    }

    &.i32 {
      padding-top: calc(2 / 3 * 100%);
    }
  }
}

.title {
  margin-top: calc(var(--yr) * var(--s3));
  font-family: var(--ff_sans);
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 6);
  color: rgb(var(--hl_color));
}

.desc {
  margin-top: calc(var(--yr) * var(--s2));
  font-weight: bold;
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 6);

  /* composes: bt from '../components/Fonts.module.css'; */
}

.section {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  padding: calc(var(--yr) * var(--s3)) 0;

  @media (--s) {
    padding: 0;
    position: absolute;
    left: 0;
    right: auto;
    top: 50%;
    margin-top: calc(var(--yr) * 15 * -1);
  }
}

.ss {
  color: rgb(var(--hl_color));
  font-family: var(--ff_sans);
  font-size: calc(var(--yr) * 10);
  line-height: calc(var(--yr) * 10);
  text-align: center;

  @media (--s) {
    font-size: calc(var(--yr) * 30);
    line-height: calc(var(--yr) * 30);
  }
}
