.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(822 / 1036 * 100%);
  }

  &._1 {
    padding-top: calc(822 / 1036 * 100%);
  }
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
