.root {
  @media (--l) {
    display: flex;
  }
}

.img {
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(822 / 1036 * 100%);
  }

  &._1 {
    padding-top: calc(1254 / 1530 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from "../../../../Factory/Factory.module.css";
}

.vrezka {
  composes: vrezka from "../../../../Fonts.module.css";
}
