.img {
  height: 100%;
  composes: ari from "../../../../Images.module.css";
  margin-top: calc(var(--yr) * var(--s4));

  &.main {
    padding-top: calc(595 / 943 * 100%);
  }

  &._1 {
    padding-top: calc(1713 / 1568 * 100%);
  }
}

.root {
  @media (--l) {
    display: flex;
  }
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.fpi {
  align-self: center;
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
