.img {
  height: 100%;
  composes: ari from "../../../../Images.module.css";

  &.main {
    padding-top: calc(1317 / 2027 * 100%);
  }

  &._1 {
    padding-top: calc(1024 / 1420 * 100%);
  }

  &._2 {
    padding-top: calc(1180 / 2028 * 100%);
  }

  &._3 {
    padding-top: calc(1004 / 1014 * 100%);
  }
}

.root {
  @media (--l) {
    display: flex;
  }
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.fpi {
  align-self: center;
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
