.root {
  position: relative;

  @media (--l) {
    display: flex;
    min-height: 100%;
  }
}

.intro {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s5));
  padding-top: calc(var(--yr) * var(--s6));

  @media (--l) {
    padding-top: 0;
    min-width: 50vw;
  }
}

.img1 {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-top: 0;
  }
}

.ussrauto {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 250vw;
  }
}

.firstYears {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 250vw;
  }
}
