.img {
  composes: ari from '../../../../Images.module.css';

  &.intro {
    padding-top: calc(1258 / 2028 * 100%);
  }

  &.main {
    padding-top: calc(1470 / 2027 * 100%);
  }

  &._0 {
    padding-top: calc(1258 / 2028 * 100%);
  }

  &._1 {
    padding-top: calc(858 / 1419 * 100%);
  }

  &._2 {
    padding-top: calc(1727 / 1368 * 100%);
  }
}

.fpi {
  align-items: center;
}

.page {
  composes: page from '../../../../Factory/Factory.module.css';
}

.vrezka {
  composes: vrezka from '../../../../Fonts.module.css';
}
