.gun {
  display: flex;
  align-items: flex-end;
}

.img {
  width: 5rem;
}

.title {
  color: rgb(var(--hl_color));
}

.desc {
  composes: bt from "../Fonts.module.css";
  background-color: rgb(var(--grey_color));

  @media (--l) {
    font-size: calc(var(--yr) * 6.5);
    line-height: calc(var(--yr) * 8);
  }
}
