.text {
  composes: bt from '../Fonts.module.css';
}

.title {
  composes: h2 from '../Fonts.module.css';
}

.root {
  padding: 0 var(--xr);
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--s) {
    padding: 0;
  }

  @media (--l) {
    /* margin-bottom: 0; */
  }
}
