.root {
  padding: 0 var(--xr);
  margin-bottom: var(--sb);

  &.void {
    margin-bottom: var(--sbb);
  }

  @media (--s) {
    padding: 0 calc(2 / 13 * 100%);
    font-size: var(--mfs);
    line-height: var(--mlh);
  }

  @media (--l) {
    padding: 0 calc(3 / 13 * 100%);
  }
}

.title {
  composes: h2 from '../Fonts.module.css';
}
