.root {
  position: relative;

  @media (--l) {
    display: flex;
    min-height: 100%;
  }
}

.intro {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s5));
  padding-top: calc(var(--yr) * var(--s6));

  @media (--l) {
    margin-bottom: 0;
    padding-top: 0;
    min-width: 50vw;
  }
}

.img {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
  }
}

.oldest {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 150vw;
  }
}


.reconstruction {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 350vw;
  }
}

.building {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 350vw;
  }
}
