.root {
  position: relative;

  @media (--l) {
    display: flex;
    min-height: 100%;
  }
}

.intro {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s5));
  padding-top: calc(var(--yr) * var(--s6));

  @media (--l) {
    margin-bottom: 0;
    padding-top: 0;
    min-width: 50vw;
  }
}

.img {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
  }
}

.modernization {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 200vw;
  }
}

.mobilization {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 250vw;
  }
}

.armor {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 200vw;
  }
}

.masters {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 250vw;
  }
}

.combatConditions {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 250vw;
  }
}

.steelMining {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 250vw;
  }
}

.defense {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 200vw;
  }
}

.character {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 100vw;
  }
}

.peacefulYears {
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--l) {
    margin-bottom: 0;
    min-width: 100vw;
  }
}
