.root {
  /* width: 50vw; */
  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * var(--s5));
  }

  padding: 1rem 2rem;
}

.content {
  border-left: 1px solid var(--hl_color);
  padding-left: calc(var(--xr) * 1.5);
}

.intro {
  color: rgb(var(--hl_color));
  composes: mt from '../Fonts.module.css';
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.text {
  margin-top: calc(var(--yr) * var(--s2));
  composes: bt from '../Fonts.module.css';
}

.author {
  margin-top: calc(var(--yr) * var(--s4));
  display: flex;
  align-items: flex-end;

  & img {
    display: block;
    height: 145px;
    margin-right: var(--xr);
  }
}

.who {
  composes: at from '../Fonts.module.css';

  & span {
    color: rgb(var(--gr_text_color));
  }
}
