.root {
  padding: 0 var(--xr);
  margin-bottom: var(--sb);

  @media (--s) {
    padding: 0 calc(2 / 13 * 100%);
  }

  @media (--l) {
    padding: 0 calc(3 / 13 * 100%);
  }
}

.content {
  position: relative;

  &::before {
    position: absolute;
    height: 100%;
    left: -2rem;
    content: '';
    display: block;
    border-left: 2px solid rgb(var(--hl_color));
  }
}

.label {
  font-family: var(--ff_sans);
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  margin: calc(var(--yr) * var(--s2)) 0 0;
  font-family: var(--ff_sans);
  color: rgb(var(--hl_color));
  font-weight: normal;
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 5);

  @media (--s) {
    font-size: 2vw;
    line-height: 2.2vw;
  }
}

.text {
  margin-top: calc(var(--yr) * var(--s2));
  font-style: italic;

  @media (--s) {
    font-size: var(--mfs);
    line-height: var(--mlh);
  }
}

.author {
  margin-top: calc(var(--yr) * var(--s4));
  display: flex;
  align-items: flex-end;

  & img {
    display: block;
    height: 145px;
    margin-right: var(--xr);
  }
}

.who {
  composes: at from '../Fonts.module.css';

  & span {
    color: rgb(var(--gr_text_color));
  }
}
