.root {
  padding: 0 var(--xr);
  margin-bottom: 12vh;

  @media (--s) {
    padding: 0 calc(2 / 13 * 100%);
    font-size: 1.8vw;
    line-height: 3vw;
  }

  @media (--l) {
    padding: 0 calc(3 / 13 * 100%);
    font-size: 1.3vw;
    line-height: 2.4vw;
  }
}

.intro {
  font-family: var(--ff_sans);
}

.title {
  margin: calc(var(--yr) * var(--s2)) 0 0;
  font-family: var(--ff_sans);
  color: rgb(var(--hl_color));
  composes: h2 from '../Fonts.module.css';
}

.text {
  margin-top: calc(var(--yr) * var(--s2));
  font-style: italic;
}

.author {
  margin-top: calc(var(--yr) * var(--s4));
  display: flex;
  align-items: flex-end;

  & img {
    display: block;
    height: 145px;
    margin-right: var(--xr);
  }
}

.who {
  composes: at from '../Fonts.module.css';

  & span {
    color: rgb(var(--gr_text_color));
  }
}
