.root {
  display: grid;

  @media (--l) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.img {
  height: 100%;
  composes: ari from '../../../../components/Images.module.css';

  &.main {
    padding-top: calc(1259 / 2027 * 100%);
  }

  &._1 {
    padding-top: calc(851 / 1014 * 100%);
  }
}
